.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body .btn {
    margin-top: auto;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.btn-primary,
.btn-danger,
.btn-info,
.btn-success {
    border-radius: 25px;
}

.card-body .btn {
    width: 100%;
}

.text-muted {
    font-size: 0.8rem;
    color: #6c757d;
}


#produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.card {
    flex: 1 1 300px;
    max-width: 214px;
    margin: 10px;
}

.card img {
    width: 100%;
    height: auto;
}

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slider .card {
    flex: 0 0 100%;
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 100%;
    }
}